# yaml-language-server: $schema=https://json.schemastore.org/clang-tidy.json

WarningsAsErrors: '*'
Checks: 'bugprone-*,cert-*,clang-analyzer-*,concurrency-*,llvm-*,misc-*,modernize-*,performance-*,portability-*,readability-*'
