# yaml-language-server: $schema=https://json.schemastore.org/clang-tidy.json

WarningsAsErrors: '*'
FormatStyle: file

# TODO enable concurrency-* if we do thread stuff
Checks:
  - 'bugprone-*'
  - 'cert-*'

  - 'clang-analyzer-*'
  # This pushes us to use the 'safer' _s function variants, but everyone seems to hate them and they're not well supported, so ignore this check
  - '-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling'
  # This just doesn't seem to work
  - '-clang-diagnostic-unused-macros'
  # We're using C23, so we're allowed to omit these
  - '-clang-diagnostic-variadic-macro-arguments-omitted'
  - '-clang-diagnostic-c23-extensions'

  - 'llvm-*'
  # Ignore llvm-header-guard since it changes defines to be based on the absolute file path
  - '-llvm-header-guard'

  - 'misc-*'
  - 'modernize-*'
  - 'performance-*'
  - 'portability-*'
  - 'readability-*'

CheckOptions:
  'misc-include-cleaner.IgnoreHeaders': '_stdio.h'
