name: Lint

on:
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Task
        uses: illbjorn/setup-task@0.1.0

      - name: Set up Conan
        uses: conan-io/setup-conan@v1

      - name: Install Conan dependencies
        run: task install-ci

      - name: Build
        run: task build

      - name: Lint
        run: task lint
